@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

body{
  background-color: #F1F1F1;
}

.app{
  display: inline-flex;
}

.seccion-menu{
  background-color: #30426A;
}

.menu{
  padding-left: 20px;
  list-style: none;
}

ul.menu .item-menu a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 40px;
}

ul .item-menu{
  width: 250px;
  height: 40px;

}

ul .item-menu a:hover {
  color: #fff;
  border-left: 3px solid #e99d1a;
}

a{
  color: white !important;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

ul .item-menu a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none !important;
  width: 250px;

}

.enlace
{
  color:white;
  text-decoration: none;
}

.enlace:active{
  color: white;
}

.navbar{
  background-color: #30426A;
  color: #FFFFFF;
  font-weight: 100;
  margin-bottom: 0pc !important;
}

/* inject:less */
@import 'DetailAnimal/DetailAnimal.less';
@import 'centros/centros.less';
@import 'home/home.less';
@import 'infoTarjeta/infoTarjeta.less';
@import 'main/main.less';
@import 'tips/tips.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
/* endinject */
